i.icon.icon-new-background {
    background: url(https://img.icons8.com/material-outlined/24/ffffff/settings.png) 50% no-repeat;
	width: 21px;
	height: 21px;
	display: inline-block;
	vertical-align: top;
}